<template>
  <div>
    <b-container>
      <b-row class="justify-content-md-center mt-4">
        <b-col col md="8">
          <b-card header="Acceso Administrador" header-bg-variant="primary" header-text-variant="white">
            <b-card-text>
              <b-form @submit="onSubmit">
                <b-form-group id="description-user" :description="description.user" label="Usuario">
                  <b-form-input v-model="user.username" :state="nameState" required></b-form-input>
                </b-form-group>
                <b-form-group :description="description.password" label="Contraseña">
                  <b-form-input v-model="user.password" :state="passwordState" type="password" required></b-form-input>
                </b-form-group>
                <b-form-group>
                  <b-button
                    block
                    type="submit" 
                    variant="outline-primary"
                    :click="onSubmit"
                  >Entrar</b-button>
                </b-form-group>
              </b-form>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import EventBus from "@/eventBus"

export default {
  name: "Login",
  components: {},
  data() {
    return {
      user: {
        username: "",
        password: "",
      },
      description: {
        user: "Introduzca su nombre de usuario",
        password: "Introduzca su contraseña",
      }
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      if (this.user.username === "admin" && this.user.password === "Admin098!") {
        EventBus.$emit("REMOVE_LOGIN",true)
      } else {
        this.errorAlert()
      }
        this.user.username = ""
        this.user.password = ""
    },
    errorAlert() {
        this.description.user = "Nombre de usuario incorrecto"
        this.description.password = "Contraseña incorrecta"
    }
  },
  computed: {
    nameState() {
      if (this.user.username === ""){
        return null
      }

      if (this.user.username === "admin") {
        this.description.user = ""
        return true
      } else {
        return false
      }
    },
    passwordState() {
      if (this.user.password === ""){
        return null
      }

      if (this.user.username === "admin" && this.user.password === "Admin098!") {
        this.description.password = ""
        return true
      } else {
        return false
      }
    },
  }
}
</script>

<style>

.card-header:first-child {
 font-weight: bold
}

.form-text {
  outline: none;
}

</style>

