<template>
  <div class="mt-4 container">

    <UserRegister></UserRegister>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <UserList title="Autorizados" :users="users" access="true"></UserList>
        </div>

        <div class="col-sm">
          <UserList title="No Autorizados" :users="users" access="false"></UserList>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from "@/eventBus"
import UserProfile from "@/components/UserProfile"
import UserList from "@/components/UserList"
import UserRegister from "@/components/UserRegister"
import { db } from "../firebase"
let usersRef = db.ref("users")

export default {
  name: "Main",
  firebase: {
    users: usersRef,
  },
  components: {
    UserProfile,
    UserList,
    UserRegister,
  },

  data() {
    return {
      users: [],
    };
  },
  methods: {
    modifyUser(user) {
      usersRef.child(user[".key"]).remove()
      
    },
    recieveUserInfo(worker) {
      usersRef.push(worker)
    },
  },
  mounted() {
    EventBus.$on("USER_INFO", (payload) => {
      this.recieveUserInfo(payload)
    })
    EventBus.$on("REMOVE_USER", (payload) => {
      this.modifyUser(payload)
    })
  },
}
</script>

<style>
input[type="file"] {
  display: none;
}

h3 {
  display: flex;
  justify-content: center;
  outline-style: double;
  margin-bottom: 1.5em;
}

.col-sm {
  display: flex;
  justify-content: center;
}
</style>
