<template>
  <div @click="onClick" id="log-out">
    <b-button variant="outline-dark" >Cerrar sesión</b-button>
  </div>
</template>

<script>
import EventBus from "@/eventBus";

export default {
  name: "Logout",
  components: {},
  methods: {
      onClick() {
        EventBus.$emit("USER_LOGOUT")
        EventBus.$emit("CLEAR_REGISTER")
      }
  },
};
</script>

<style>

#log-out {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}


</style>