<template>
  <div>
    <form @submit.prevent="addsUserInfo" class="w-50">
      <div>
        <img :src="user.image" class="uploading-image" />
      </div>

      <b-form-input
        required
        id="input-1"
        placeholder="Nombre"
        v-model="user.name"
        class="mt-4"
        trim
      ></b-form-input>
      <b-form-input
        required
        id="input-2"
        placeholder="Apellidos"
        v-model="user.surname"
        class="mt-4"
        trim
      ></b-form-input>

      <b-form-select required v-model="selected" :options="options" class="mt-4"></b-form-select>

      <b-form-file
        data-browse="Subir"
        :disabled="busy"
        accept="image/*"
        placeholder="Seleccione la imagen"
        @change="uploadImage"
        class="mt-4"
      ></b-form-file>

      <div id="registration-buttons">
        <b-button type="submit" variant="primary" class="btn-block mt-4">Enviar</b-button>
        <b-button variant="outline-primary" @click="clearForm">Cancelar</b-button>
        <b-button variant="outline-danger" id="delete-button" @click="deleteUser">Eliminar</b-button>
      </div>
    </form>
  </div>
</template>

<script>
import EventBus from "@/eventBus"
export default {
  name: "UserRegister",
  data() {
    return {
      user: {
        name: "",
        surname: "",
        authoritation: "",
        image: "",
      },
      userID: "",
      edition: false,
      text: "",
      selected: null,
      options: [
        { value: null, text: "Seleccione una opción" },
        { value: "true", text: "Dar acceso" },
        { value: "false", text: "Denegar acceso" },
      ],
      busy: false,
    };
  },
  methods: {
    uploadImage(e) {
      const image = e.target.files[0]
      const reader = new FileReader()
      reader.readAsDataURL(image)
      reader.onload = (e) => {
        this.user.image = e.target.result
      }
    },
    addsUserInfo() {
      if (!this.edition) {
        this.uploadUser()   
      } else {
        this.modifyUser()
      }
    },
    uploadUser() {
      this.user.authoritation = this.selected
      EventBus.$emit("USER_INFO", this.user)
      this.clearForm()
    },
    editText(user) {
      this.edition = true
      this.userID = user
      this.user.name = user.name
      this.user.surname = user.surname
      this.user.authoritation = user.authoritation
      this.user.image = user.image
      this.selected = user.authoritation
    },
    modifyUser() {
      if (confirm("¿Está seguro que quiere modificar los datos?")) {
        EventBus.$emit("REMOVE_USER", this.userID)
        this.edition = false
        this.uploadUser()
      }
    },
    clearForm() {
      this.user.name = ""
      this.user.surname = ""
      this.user.authoritation = ""
      this.user.image = ""
      this.selected = null
      this.edition = false
    },
    deleteUser() {
      if (this.edition) {
        EventBus.$emit("REMOVE_USER", this.userID)
      }
      this.clearForm()
    }
  },
  mounted() {
    EventBus.$on("MESSAGE_NAME", (payload) => {
      this.editText(payload)
    })
    EventBus.$on("CLEAR_REGISTER", (payload) => {
      this.clearForm(payload)
    })
  },
}
</script>


<style>
form {
  margin: 0 auto;
  margin-bottom: 50px;
}

.uploading-image {
  max-width: 40%;
  max-height: 40%;
}

.card {
  cursor: pointer;
}
.card-img-top {
  max-width: 100%;
}

.custom-file-input ~ .custom-file-label[data-browse]::after {
  display: none;
}

.custom-file-input ~ .custom-file-label[data-browse] {
  color: #007bff;
  background-color: #fff;
  cursor: pointer;
}

#registration-buttons {
  display: flex;
  align-items: baseline;
}

.btn-block {
  margin-right: 1em;
}

#delete-button {
  margin-left: 1em;
}

@media (max-width: 780px) {
  #registration-buttons {
    display: block;
  }
}

</style>

