<template>
  <div @click="editText()">

    <div>
      <b-card
        :img-src="message.image"
        img-alt="Image"
        img-top
        style="max-width: 20rem;"
        class="mb-2"
      >
        {{message.name}}
        {{message.surname}}
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserProfile",
  props: ["message"],
  methods: {
    editText() {
      this.$emit("edit-message");
    },
  },
};
</script>

