<template>
  <div>
    <h3>{{title}}</h3>
    <div v-for="user in users" :key="user.id">
      <div v-if="user.authoritation == access">
        <UserProfile :message="user" @edit-message="editText(user)"></UserProfile>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '@/eventBus' 
import UserProfile from "@/components/UserProfile"

export default {
  name: "UserList",
  components: {
    UserProfile,
  },
  props: ["title", "users","access"],
  data() {
    return {
      message: "",
    };
  },
  methods: {
      editText(user) {
      EventBus.$emit('MESSAGE_NAME',user)
      }
  },

}
</script>