<template>
  <div id="app">
    <div v-show="access === false" class="login">
      <Login></Login>
    </div>
    <div v-show="access === true">
      <div >
        <div class="row mt-4">
          <div class="col"></div>
          <div class="col">
            <h1>Seguridad SL</h1>
          </div>
          <div class="col">
            <Logout></Logout>
          </div>
        </div>
      </div>
      <Main></Main>
    </div>
  </div>
</template>

<script>
import EventBus from "@/eventBus";
import Main from "@/views/Main.vue";
import Login from "@/views/Login.vue";
import Logout from "@/components/Logout";

export default {
  name: "app",
  components: {
    Main,
    Login,
    Logout,
  },
  data() {
    return {
      access: false,
    };
  },
  methods: {
    removeLogin(mayAccess) {
      this.access = mayAccess;
    },
    logOut() {
      this.access = false;
    },
  },
  mounted() {
    EventBus.$on("REMOVE_LOGIN", (payload) => {
      this.removeLogin(payload);
    });
    EventBus.$on("USER_LOGOUT", () => {
      this.logOut();
    });
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.login {
  margin-top: 10em;
}
</style>
